:root {
  --white: #fff;
  --dark: #141414;
  --dark-gray: #3f3d38;
  --gray: #69665d;
  --light-gray: #f0f0f0;
  --blue: #d1e5f6;
  --green: #daf2d8;
  --yellow: #fff9e0;
  --purple: #d2cefd;
  --error: #fb0808;
  --active: #305bf5;
}
